.history-list {
    display: flex;
    align-items: center;
    height: 3rem;
    background: #F6F6F6;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
    padding: 0.1rem;
    position: relative;
    width: 100%;
}

.vertical-align {
    align-items: center;
}