.history-list {
    display: flex;
    align-items: center;
    height: 3rem;
    background: #F6F6F6;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding-top: 1rem;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}