.history-list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: #F6F6F6;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    padding: 0.1rem;
}